<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "show posts", user_microposts_path(@user)%> |
  <%= link_to "Back to users", users_path %>

  <br>
  <%= button_to "Destroy this user", user_path(@user), method: :delete %>
</div>
