<p style="color: green"><%= notice %></p>

<h1>Microposts</h1>

<div id="microposts">
  <% @microposts.each do |micropost| %>
    <%= render micropost %>
    <p>
      <%= link_to "Show this micropost", user_micropost_path(@user, micropost) %>
    </p>
  <% end %>
</div>
<hr>
<%= link_to "New micropost", new_user_micropost_path %> |
<%= link_to "Back to User", user_path(@user) %>
