<p style="color: green"><%= notice %></p>

<%= render "micropost", micropost: @micropost %>

<div>
  <%= link_to "Edit this micropost", edit_user_micropost_path(@user, @micropost) %> |
  <%= link_to "Back to microposts", user_microposts_path(@user) %> |
  <%= link_to "Back to User", user_path(@user) %>
  <hr>
  <%= button_to "Destroy this micropost", user_micropost_path(@user, @micropost), method: :delete %>
</div>